@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&family=Oswald&display=swap');



*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

html{
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
  color: #161f2a;
  background: #f1f1f1;
}

body{
  font-size: 1.5rem;
}

header{
  background: #66768a;
  height: 75vh;
  text-align: center;
  padding: 3rem;
}

nav{
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-transform: uppercase;
}

.hamburger{
  display: none;
}

.line1 {
  background-color: white;
  width: 30px;
  height: 3px;
  margin-bottom: 5px;
}

.line2 {
  background-color: white;
  width: 25px;
  height: 3px;
  margin-bottom: 5px;
}

.line3 {
  background-color: white;
  width: 20px;
  height: 3px;
}

.hero-banner{
  max-width: 75%;
  margin: 0 auto;
}

.hero-text{
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
}

.play-video{
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 40px;
}

.default-style{
  max-width: 50%;
  text-align: center;
  margin: 50px auto;
  padding-bottom: 50px;
}

.visit-container{
  background: #dbdfe2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
  padding: 10rem;
  margin: 0 auto;
  text-align: center;
}

.visit{
  min-width: 300px;
  width: 400px;
}

footer{
  background: #161f2a;
  color: #f1f1f1;
  padding: 3rem;
}

.footer-flexin{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;

}

.footer-links{
  padding-bottom: 3rem;
}

.contact-info{
  padding-bottom: 3rem;
}

.lower{
  border-top: 1px solid #f1f1f1;
  padding-top: 1rem;
}

a{
  color: #f1f1f1;
  text-decoration: none;
}

ul{
  list-style: none;
}

header li, .social-links li, .footer-links li{
  display: inline-block;
}

header li, .footer-links li{
  padding-right: 20px;
}


h1, .hero-text, .nav-links, .footer-links, h5, .contact-info{
  color: #f1f1f1;
}

h1{
  font-size: 6rem;
  letter-spacing: 0.2rem;
}

h2{
  font-size: 3rem;
}

h3{
  font-size: 2.5rem;
}

h4{
  color: #66768a;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
}

h1, h2, h3{
  padding: 30px;
}

h1, h2, h3, h5{
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

h2, h3{
  color: #161f2a;
}

button{
  display: inline-block;
  border: none;
  padding: 0.5rem 2rem;
  margin: 0;
  text-decoration: none;
  text-transform: uppercase;
  background: #f1f1f1;
  color: #161f2a;
  font-family: 'Oswald',sans-serif;
  font-size: 1.5rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out,
              transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus{
    background: #161f2a;
    color: #f1f1f1;
}

button:focus{
    outline: 1px solid #f1f1f1;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}

.donate-btn{
  border-radius: 5px;
}

.body-btn{
  padding: 1.5rem 4rem;
  border: 1px solid black;
  margin: 30px;

}

@media (max-width: 900px){
  h1{
    font-size: 4rem;
  }
  .hero-text{
    font-size: 1.5rem;
  }
}

@media (max-width: 550px){
  header{
    height: 90vh;
  }
  .nav-links{
    display: none;
  }
  .hamburger{
    display: block;
  }
  .lower > img{
    display: none;
  }
  .footer-flexin{
    justify-content: center;
  }
}

@media (max-width: 400px){
  h1{
    font-size: 2.5rem;
  }
  .hero-text{
    font-size: 1.3rem;
  }
  .play-video{
    font-size: 1.3rem;
  }
}
